.footer
  %form.message-form
    %textarea.message-form__textarea{placeholder: "type a message", name: "text", cols: "1" }
    / %a.messageForm__imageIcon
    %label.image-upload
      %i.fa.fa-image
      %input{type: "file", name: "image", style: "display: none"}
    %input.message-form__button{type: "button", name: "submit",value: "Send"}
