.main
  .main-header
    .group-info
      %h2.group-info__groupname GroupName
      %p.group-info__members Members: member1 member2
    = link_to "Edit","#", class: "group-edit"
  .chat-area
    -if @messages.present?
      -@messages.each do |message|
        %ul.messages
          %li.message
            %p.message__username = message.user.name
            %p.message__created-at = message.created_at
            %p.message__body = message.body
            .message__image

  .footer
    =form_for [@group, @message], html: {class: "message-form"} do |f|
      %textarea.message-form__textarea{placeholder: "type a message", name: "body", cols: "1" }
      %label.image-upload
        = fa_icon "picture-o"
        %input{type: "file", name: "image", style: "display: none"}
      %input.message-form__button{type: "button", name: "submit",value: "Send"}

