%li.message{"message-id": message.id}
  .message__upper.clearfix
    %p.message__username
      = message.user.name
    %p.message__created-at
      = message.strp_created_at
  .message__bottom.clearfix
    - if message.content.present?
      .message__content
        %p= message.content
    - if message.image.present?
      .message__image
        = image_tag message.image.url, class: 'message__image__img'
