%li.message
  %p.message__username
    = message.user.name
  %p.message__created-at
    = message.strp_created_at
  - if message.content.present?
    %p.message__content
      = message.content
  - if message.image.present?
    .message__image
      = image_tag message.image.to_s, class: 'message__image'
