.wrapper
  .flash
  .sidebar
    .userInfo
      %h2.userInfo__name
      %a.userInfo__createGroup
      %a.userInfo__Edit
    .groupLists
      %ul
        %li.groupLists__list
        %li.groupLists__list
        %li.groupLists__list
  .main
    .groupInfo
      .groupInfo__info
        %h2.groupname GroupName
        %p.members member1 member2
      %a.groupInfo__groupEdit
    .messageView
      %ul
        %li
          %p.username
          %p.datetime
          %p.body
          .image
    .messsageForm
