.wrapper
  .flash
  .side
    .user
      %h2.user__name username
      %a.user__createGroup
      %a.user__Edit Edit
    %ul.chat-groups
      %li.chat-group
        %p.chat-group__name group1
        %p.chat-group__message message11
      %li.chat-group
        %p.chat-group__name group2
        %p.chat-group__message message22
      %li.chat-group
        %p.chat-group__name group3
        %p.chat-group__message message33
  .main
    .chat-group
      .groupInfo
        %h2.groupInfo__groupname GroupName
        %p.groupInfo__members Members: member1 member2
      %a.groupInfo__edit edit
    .message-view
      %ul.messages
        %li.message
          %p.message__username username
          %p.message__created-at 2018/11/22 05:33:24
          %p.message__body texttexttext
          .message__image
    .message-form
      %textarea{placeholder: "type a message", name: "text", cols: "1" }
      %a.messsageForm__imageIcon img
      %input{type: "button"} Send
