.wrapper
  .flash
  .sidebar
    .userInfo
      %h2.userInfo__name username
      %a.userInfo__createGroup
      %a.userInfo__Edit Edit
    .groupLists
      %ul
        %li.groupLists__list group1
        %li.groupLists__list group2
        %li.groupLists__list group3
  .main
    .groupInfo
      .groupInfo__info
        %h2.groupname GroupName
        %p.members member1 member2
      %a.groupInfo__groupEdit
    .messageView
      %ul
        %li
          %p.username username
          %p.datetime 2018/11/22 05:33:24
          %p.body texttexttext
          .image
    .messsageForm
      %textarea{placeholder: "Image Url", name: "text",ros: "80", cols: "1" ,}
      %input{type: "button"} Send
