.wrapper
  .flash
  .side
    .user
      %h2.user__name username
      %i.fa.fa-pencil-square-o
      %i.fa.fa-cog

      / %a.user__Edit Edit
    %ul.chat-groups
      %li.chat-group
        %a.chat-group__link{href: "#"}
          %p.chat-group__name group1
          %p.chat-group__message message11
      %li.chat-group
        %a.chat-group__link{href: "#"}
          %p.chat-group__name group2
          %p.chat-group__message message22
      %li.chat-group
        %a.chat-group__link{href: "#"}
          %p.chat-group__name group3
          %p.chat-group__message message33
  .main
    .group
      .group-info
        %h2.group-info__groupname GroupName
        %p.group-info__members Members: member1 member2
      %a.group__edit Edit
    .message-view
      %ul.messages
        %li.message
          %p.message__username username1
          %p.message__created-at 2018/11/22 05:33:24
          %p.message__body texttexttext11
          .message__image
        %li.message
          %p.message__username username2
          %p.message__created-at 2018/11/22 05:33:25
          %p.message__body texttexttext22
          .message__image
    %form.message-form
      %textarea.message-form__textarea{placeholder: "type a message", name: "text", cols: "1" }
      / %a.messageForm__imageIcon
      %input.message-form__button{type: "button", name: "submit",value: "Send"}
