.main {
  width: calc(100% - 300px);
  position: relative;
  height: 100%;
  float: left;
}

.main-header {
  padding: 0 40px;
  height: 100px;
  background-color: $headerBackgroundColor;
  border-bottom: 1px solid #eeeeee;
  .group-info {
    float: left;
    &__groupname {
      padding-top: 35px;
      font-size: 20px;
      color: #333333;
    }
    &__members {
      padding-top: 15px;
      font-size: 12px;
      color: $grayTextColor;
    }
  }
  .group-edit {
    float: right;
    height:40px;
    padding: 0 20px;
    margin-top: 28px;
    text-decoration: none;
    line-height: 40px;
    color: $skyBlueColor;
    border: 2px solid $skyBlueColor;
  }
}

.chat-area {
  padding: 0 40px;
  height: calc(100% - 190px);
  overflow: auto;
  background-color: $chatViewBackgroundColor;
  .message{
    padding-top: 40px;
    &__username {
      font-size: 16px;
      font-weight: bold;
      color: $chatTextColor;
      display: inline;
    }
    &__created-at {
      font-size: 12px;
      color: $grayTextColor;
      display: inline;
    }
    &__content {
      font-size: 14px;
      color: $chatTextColor;
      padding-top: 10px;
    }
  }
}

.footer {
  width: 100%;
  height: 90px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: $formBackgroundColor;
  .message-form {
    &__textarea {
      padding-left: 10px;
      height: 50px;
      line-height: 50px;
      border: 0;
      width: calc(100% - 205px);
      float: left;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 40px;
      resize: none;
    }
    .fa-picture-o {
      position: absolute;
      display: inline-block;
      line-height: 90px;
      top: 0;
      right: 165px;
      bottom: 0;
      &:hover{
        cursor: pointer;
        cursor: hand;
      };
    }
    &__button {
      color: #ffffff;
      background-color: $skyBlueColor;
      height: 50px;
      width: 100px;
      margin: 20px 40px 20px 0px;
      padding:0 20px;
      float: right;
    }
  }
}
