.side {
  width: 300px;
  /*height: 100vh;*/
  float: left;
  color: #ffffff;
  background-color: #2f3e51;
  .user {
    padding:0 20px;
    height: 100px;
    background-color: #253141;
    &__name {
      display: inline;
      font-size: 16px;
      font-weight: bold;
      line-height: 100px;
      float: left;
    }
    .fa {
      float: right;
      margin-left: 5px;
      line-height: 100px;
    }
  }
  .chat-groups {
    height: calc(100vh - 100px);
    border: 0px solid;
    .chat-group {
      background-color: #2f3e51;
      &:hover{
        background-color: #3b4a60;
      }
      &__link{
        text-decoration: none;
        color: #ffffff;
      }
      &__name{
        padding: 20px 20px 0;
        font-size: 15px;
        padding-bottom: 5px;
      }
      &__message{
        padding: 5px 20px 20px;
        font-size: 11px;
      }
    }
  }
}
